<div class="social-media">
  <a target="_blank" href="https://www.linkedin.com/in/adao-locks/">
    <img src="assets/linkedin.png">
  </a>
  <a target="_blank" href="https://github.com/adao-locks">
    <img src="assets/github.png">
  </a>
  <a target="_blank" href="https://www.instagram.com/adaolocks/">
    <img src="assets/insta.png">
  </a>
  <a href="https://mail.google.com/mail/?view=cm&fs=1&to=eduardoadaolocks@gmail.com&su=Assunto%20do%20Email&body=Ol%C3%A1,%20gostaria%20de%20marcar%20uma%20entrevista..." target="_blank">
    <img src="assets/gmail.png">
  </a>
</div>
