<div id="About" class="general">
  <div class="general_mid">
    <div class="container_text">
      <div class="container_text_title">
        <h2>About Me</h2>
      </div>
      <div class="container_text_about">
        <p>I am a passionate technology enthusiast, always seeking to stay up-to-date
          and expand my knowledge. With a self-taught mindset, I embrace challenges
          that allow me to apply my passion and expertise in innovative ways.</p>
      </div>
      <div class="container_text_techs">
        <div class="tech">Delphi</div>
        <div class="tech">Angular</div>
        <div class="tech">JavaScript</div>
        <div class="tech">Typescript</div>
        <div class="tech">SQL</div>
        <div class="tech">Java</div>
        <div class="tech">HTML/CSS</div>
      </div>
    </div>
    <div class="container_img">
      <img src="assets/perfil.jpeg" alt="">
    </div>
  </div>
</div>
