h2 {
  font-size: 30px;
  font-weight: bold;
}

.general {
  display: flex;
  height: 75vh;
  width: 99vw;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgb(26, 26, 26);
}

.general_mid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 25rem;
}

.container_text {
  margin: 0 25vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container_text_techs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tech {
  width: 5rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background-color: #ffde34;
  border: none;
  color: black;
  font-size: .7rem;
  margin: 1vw;
  padding: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container_img {
  display: flex;
  justify-content: center;

}

.container_text_about > p {
  text-align: justify;
  font-size: 1rem;
}

img {
  width: 20vw;
  border-radius: 40%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .general {
    width: 100vw;
  }
}
