.container_home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  padding: 0 6.5rem;
}

.home_content {
  flex: 1;
  margin-left: 10rem;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 14px;
}
