<div class="container_contact_main">
    <div class="container_contact">
        <h2 class="text-center">Contact me!</h2>
        <form>
            <div class="mb-3">
                <label for="nome" class="form-label">Name</label>
                <input type="text" class="form-control" id="nome" placeholder="Your name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="your@email.com" required>
            </div>
            <div class="mb-3">
                <label for="mensagem" class="form-label">Message</label>
                <textarea class="form-control" id="mensagem" rows="4" placeholder="Type the message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>