@media (min-width: 768px) {

  h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .general {
    display: flex;
    height: 100vh;
    width: 99.2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
    background-color: rgb(26, 26, 26);
  }

  .general_mid {
    display: flex;
    flex-direction: row;
    height: 40vh;
  }

  .projects_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;
  }

  img {
    width: 20rem;
    height: 11rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  a {
    margin: 14px;
    text-decoration: none;
  }

  p {
    text-decoration: none;
    text-align: center;
  }

  .project {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .project img {
    display: block;
    cursor: pointer;
  }

  .project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    color: yellow;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }

  .project:hover .project-name {
    opacity: 1;
  }

}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

@media (max-width: 767px) {

  h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .general {
    display: flex;
    height: 120vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(26, 26, 26);
    margin-bottom: 5rem;
  }

  .general_mid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 40vh;
  }

  .projects_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  img {
    width: 20rem;
    height: 11rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  a {
    margin: 14px;
    text-decoration: none;
  }

  p {
    text-decoration: none;
    text-align: center;
  }

  .project {
    position: relative;
    display: inline-block;
  }

  .project img {
    display: block;
  }

  .project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    color: yellow;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
  }

}
