<section id="projetos" class="section">
  <div class="container">
    <h2 class="text-center mb-4">Meus Projetos</h2>
    <div class="grid grid-3">
      <div class="card">
        <h3 class="text-center">Portfolio</h3>
        <p>Fonte do portfolio sendo visto.</p>
        <a href="https://github.com/adao-locks/portfolio-adao" class="btn mt-2">Ver no GitHub</a>
      </div>
      <div class="card">
        <h3 class="text-center">Sales+</h3>
        <p>Primeiro Projeto em Delphi para vendas.</p>
        <a href="https://github.com/adao-locks/GestaoDeVendas" class="btn mt-2">Ver no GitHub</a>
      </div>
      <div class="card">
        <h3 class="text-center">Kanban</h3>
        <p>Kanban de tarefas na Web.</p>
        <a href="https://github.com/adao-locks/kanban-project" class="btn mt-2">Ver no GitHub</a>
      </div>
      <div class="card">
        <h3 class="text-center">QRCode Generator</h3>
        <p>Terminal para gerar QR Code.</p>
        <a href="https://github.com/adao-locks/projeto-qrcode" class="btn mt-2">Ver no GitHub</a>
      </div>
      <div class="card">
        <h3 class="text-center">BuzzFeed</h3>
        <p>Aprendendo a utilizar json e etc.</p>
        <a href="https://github.com/adao-locks/BuzzFeed" class="btn mt-2">Ver no GitHub</a>
      </div>
      <div class="card">
        <h3 class="text-center">Annabelle</h3>
        <p>Meu primeiro projeto Web.</p>
        <a href="https://github.com/adao-locks/AnnabelleWEB" class="btn mt-2">Ver no GitHub</a>
      </div>
    </div>
  </div>
</section>
