<div class="general">
  <div class="general_mid">
    <div>
      <h2>Projects</h2>
      <div>
        <p>
          Wellcome to my projects, feel free to click and explore any of them!
        </p>
        <div class="projects_area">
          <a href="https://github.com/adao-locks/portfolio-adao" class="project">
            <img src="assets/port.png">
            <span class="project-name">Portfolio</span>
            <span class="project-desc">This portfolio</span>
          </a>
          <a href="https://github.com/adao-locks/GestaoDeVendas" class="project">
            <img src="assets/sales.png">
            <span class="project-name">Sales+</span>
            <span class="project-desc">Sales Management - Delphi</span>
          </a>
          <a href="https://github.com/adao-locks/projeto-qrcode" class="project">
            <img src="assets/qrcode.png">
            <span class="project-name">QRCode Generator</span>
            <span class="project-desc">Terminal QR Code Generator</span>
          </a>
          <a href="https://github.com/adao-locks/BuzzFeed" class="project">
            <img src="assets/buzz.png">
            <span class="project-name">BuzzFeed</span>
            <span class="project-desc">BuzzFeed copy</span>
          </a>
          <a href="https://github.com/adao-locks/AnnabelleWEB" class="project">
            <img src="assets/annabelle.png">
            <span class="project-name">Annabelle</span>
            <span class="project-desc">My first website</span>
          </a>
      </div>
    </div>
  </div>
</div>
