.container_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pc);
    box-shadow: 0 0 10px 7px rgba(49, 49, 49, 0.4);
    padding: 1.3vw 0;
}

.container_name {
    width: 40vw;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}

.container_name > p {
    margin-left: 10px;
    cursor: default;
    width: 40vw;
}

.container_nav{
    width: 30vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

a {
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 767px) {
  .container_navbar {
    visibility: hidden;
    height: 0vh;
    width: 0vw;
  }
}

@media (min-width: 768px) {
  .container_navbar {
    visibility: visible;
  }
}
