<div class="container_skills">
    <div class="skillstree" id="Skills">
        <h2>Skills-Set</h2>
        <div class="container_skillstree">
            <div class="skill_card">
                <div>
                    <img src="assets/delphi.png" alt=".">
                </div>
                <h4>Delphi</h4>
                <p>I'm developing a personal project as an open-source system, where I'm constantly acquiring new knowledge and skills along the way.
                  Fully committed to the final result, my goal is to create a robust and efficient solution, always focused on continuous improvement.
                  Every day, I work on optimizing the system, implementing new features, fixing issues, and ensuring it evolves to meet users' needs
                  more effectively. This process of constant learning and enhancement has been crucial to the success of the project.</p>
            </div>

            <div class="skill_card">
              <div>
                  <img src="assets/qualidade.png" alt="teste">
              </div>
              <h4>Quality Tests</h4>
              <p>I worked in user support, where I had the opportunity to develop my skills in quality testing. In my daily tasks, I conducted tests to
                identify and fix issues in the systems, as well as look for areas of improvement. This role taught me how to carefully analyze workflows,
                ensuring everything was error-free and working as efficiently as possible. With this experience, I enhanced my ability to ensure the quality
                and efficiency of systems, always striving for continuous improvement.</p>
            </div>


            <div class="skill_card">
              <div>
                  <img src="assets/database.png" alt=".">
              </div>
              <h4>Databases</h4>
              <p>I have solid experience in databases, covering everything from initial planning to final implementation and development. In my daily work,
                I use DML commands in databases such as MySQL, PostgreSQL, SQL Server, Firebird, and Oracle. Additionally, I am skilled in creating views
                and triggers, always tailoring solutions to meet the specific needs of each client or system, aiming to optimize and ensure the efficiency
                of processes.</p>
            </div>

            <div class="skill_card">
                <div>
                    <img src="assets/angular.png" alt=".">
                </div>
                <h4>Angular</h4>
                <p>After completing the bootcamp with Dio.me, I self-developed in the web area using Angular, constantly practicing and deepening my
                  knowledge. My portfolio was built 100% with Angular, allowing me to apply and consolidate everything I learned, creating a solid
                  foundation for my future projects with the technology.</p>
            </div>
            <div class="skill_card">
                <div>
                    <img src="assets/github.png" alt=".">
                </div>
                <h4>Git/GitHub</h4>
                <p>I use Git and GitHub daily to commit all improvements and creations within my personal projects. This practice allows me to maintain
                  effective control over changes and ensure a clear history of progress in each project, making management and collaboration easier when
                  needed.</p>
            </div>
            <div class="skill_card">
                <div>
                    <img src="assets/leader.png" alt="teste">
                </div>
                <h4>Leadership</h4>
                <p>During a leadership course, I developed key professional skills, including communication, teamwork, and critical thinking. I learned
                  to promote team improvements, analyze colleagues more effectively, and practice high-performance leadership. The course also helped
                  me enhance my emotional development, gain a strategic business perspective, and improve my skills in human relations, allowing me
                  to manage different profiles in the professional environment more efficiently.</p>
            </div>
        </div>
    </div>
</div>
