<div class="container_skills">
    <div class="skillstree" id="Skills">
        <h2>Skill-Set</h2>
        <div class="container_skillstree">
            <div class="skill_card">
                <img src="/portfolio-adao/assets/git.png">
                <h4>Git Version Control</h4>
                <p>Proficient in using Git for version control and team collaboration. Experienced with workflows such as Git Flow, branch management, merges, and conflict resolution on platforms like GitHub and GitLab.</p>
            </div>
            <div class="skill_card">
                <img src="/portfolio-adao/assets/git.png">
                <h4>Front-end Developer</h4>
                <p>Skilled in developing modern, responsive, and interactive interfaces using HTML, CSS, and JavaScript. Experienced with frameworks like Angular and React, focusing on functional design and optimized user experience.</p>
            </div>
            <div class="skill_card">
                <img src="/portfolio-adao/assets/git.png">
                <h4>Back-end Developer</h4>
                <p>Expertise in building scalable APIs and systems using languages such as Python, Node.js, and PHP. Experienced in authentication, database integration, and developing robust solutions for business logic.</p>
            </div>
            <div class="skill_card">
                <img src="/portfolio-adao/assets/git.png">
                <h4>Web Developer</h4>
                <p>Proficient in creating complete web applications by integrating front-end and back-end. Experienced in responsive development, API integration, and delivering custom solutions tailored to different requirements.</p>
            </div>
            <div class="skill_card">
                <img src="/portfolio-adao/assets/git.png">
                <h4>DBA</h4>
                <p>Experienced in administering and optimizing databases such as PostgreSQL and SQL Server. Skilled in data modeling, optimized queries, and implementing backup and security strategies to ensure high performance.</p>
            </div>
            <div class="skill_card">
                <img src="/portfolio-adao/assets/git.png">
                <h4>Coworking</h4>
                <p>Skilled in effective collaboration and communication in shared workspaces, fostering productivity and idea exchange. Focused on networking and teamwork to achieve project goals.</p>
            </div>
        </div>
    </div>
</div>