<div id="xp"></div>
<div class="container">
  <h2 class="text-center">Experiência Profissional</h2>
  <div class="card">
    <div class="content">
      <h3>Fiobras</h3>
      <span>Assistente de PPCP | Jan 2022 - Jan 2023</span>
      <p class="mt-1">Experiência em laboratório químico com foco em planejamento de produção e gestão de relatórios para garantir eficiência operacional. Destaque na criação de novas cores personalizadas para atender às demandas dos clientes, contribuindo para o sucesso contínuo da empresa.</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h3>DigiTae</h3>
      <span>Auxiliar de Escritório | Jan 2023 - Jul 2023</span>
      <p class="mt-1">Experiência sólida em gerenciamento de estoque, marketing digital, edição de fotos e vídeos. Habilidades diárias em estratégias de vendas online, resolução de problemas em sites e otimização de estoques. Destaco-me na solução de desafios no mundo digital.</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h3>Sisplan</h3>
      <span>Suporte ao cliente | Fev 2024 - Atual</span>
      <p class="mt-1">Experiência sólida em suporte ao cliente, com atuação na manutenção, atualização e testes de qualidade de sistemas de gestão. Tenho forte foco na usabilidade, resolução de problemas e garantia da continuidade das operações empresariais. Atualmente, trabalho com geração de relatórios utilizando FastReport, além de lidar diariamente com SQL e código Pascal, contribuindo para a personalização e eficiência das soluções entregues.</p>
    </div>
  </div>
</div>


<div class="container">
  <h2 class="text-center">Projetos Freelance / Independentes</h2>
  <div class="card">
    <div class="content">
      <h3>Desenvolvimento de Aplicativo Flutter para Controle de Eficiência da Produção</h3>
      <span>Fiobras</span>
      <p class="mt-1">Aplicativo desenvolvido para gerenciar e monitorar a eficiência da produção em diversos setores da empresa Fiobras. A solução permite o registro das quantidades produzidas por turno e oferece funcionalidades para geração de relatórios simplificados e modernos, auxiliando no controle da demanda e na tomada de decisões conforme as necessidades da empresa.</p>
    </div>
  </div>
</div>
